#footer{
    background-color:#1d1d1e;
    padding:4rem 0;
    color:#FFF;
    a{
        color:#cca36e;
    }
    a:hover{
        color:#FFF;
    }
    h4{
        color:#FFF;
    }
    i{
        font-size:30px;
    }
}
.footer-copy{
    background-color:#1d1d1e;
    padding:3rem 0;
    color:#cca36e;
    a{
        color:#cca36e;
    }
    a:hover{
        color:#FFF;
    }
}