#header{
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    z-index: 2;
  }

  .menu{
    padding:0;
    list-style: none;
    li{
      float:right;
      margin-left:10px;
      a{
        padding:5px;
        color:#FFF;
        font-size:1rem;
        font-weight: 300;
      }
      a:hover{
        color:#cca36e;
      }
    }
  }
  .redes{
    padding:0;
    list-style: none;
    li{
      float:left;
      margin-left:10px;
      a{
        padding:5px;
        i{
          color:#FFF;
          font-size:1.125rem;
        }
      }
      a:hover{
        i{
          color:#cca36e;
        } 
      }
    }
    
  }
}
